// 変数定義用ファイル
$main_color: rgb(255,255,255);
$sab_color: rgb(0,0,0);
$bg_color: rgba(255,255,255,8);
$bg_color: rgb(230,230,230);

// キャッチコピーのフォントサイズ
$fv_fs: 78px;

// 見出し、サブコピー
$copy_fs: 30px;
$title_fs: 24px;
$text_fs: 18px;