* {
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  background-color: black;
  position: fixed;
  width: 100%;
}

.header_title {
  font-size: 30px;
  color: white;
  margin-left: 20px;
}

.header_ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  line-height: 50px;
}

.header_link {
  font-size: 18px;
  color: white;
  margin-right: 50px;
}

.fv {
  background: url(../img/mv.jpg) center/cover;
  width: 100%;
  height: 100vh;
}

.fv_title {
  font-size: 78px;
  padding-top: 20%;
  color: red;
  text-align: center;
}

.news {
  width: 60%;
  margin: 50px auto;
}

.news_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.news_box_title {
  font-size: 30px;
  font-weight: bold;
}

.news_box_ul_li + .news_box_ul_li {
  margin-top: 10px;
}

.news_box_ul_li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.news_box_ul_li_time {
  font-size: 18px;
  margin-right: 10px;
}

.news_box_ul_li_text {
  font-size: 18px;
}

.interview {
  background: url(../img/interview.jpg) center/cover;
  width: 100%;
  height: 43vh;
  padding: 2% 0;
}

.interview_box {
  display: block;
  background: rgba(255, 255, 255, 0.9);
  width: 30%;
  margin: auto;
  padding: 50px 80px;
  text-align: center;
  border: 1px solid black;
}

.interview_box_title {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}

.interview_box_text {
  font-size: 24px;
  margin-top: 50px;
}

.interview_box_btn {
  font-size: 24px;
  font-weight: bold;
  background: white;
  border: 1px solid mediumturquoise;
  margin: 50px auto 0 auto;
  padding: 10px 20px;
  width: 120px;
}

.company {
  width: 60%;
  margin: 100px auto;
}

.company_title {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}

.company_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.company_box_business {
  margin-top: 80px;
  padding: 30px 20px;
  background: #e6e6e6;
  width: 300px;
  height: 360px;
  text-align: center;
  border-radius: 3%;
  -webkit-box-shadow: 1px 5px 8px 1px black;
          box-shadow: 1px 5px 8px 1px black;
}

.company_box_business_img {
  width: 100px;
}

.company_box_business_title {
  font-size: 24px;
  margin-top: 20px;
  font-weight: bold;
}

.company_box_business_text {
  font-size: 18px;
  margin-top: 20px;
}

.recruitment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.recruitment_box {
  background: url(../img/company.jpg) center/cover;
  width: 100%;
  height: 400px;
  position: relative;
}

.recruitment_box_title {
  font-size: 30px;
  font-weight: bold;
  position: absolute;
  top: 10px;
  left: 10px;
}

.recruitment_box_btn {
  font-size: 18px;
  background: white;
  font-weight: bold;
  width: 100px;
  padding: 10px;
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.recruitment_box2 {
  background: url(../img/recruit.jpg) center/cover;
  width: 100%;
  height: 400px;
  position: relative;
}

.recruitment_box2_title {
  font-size: 30px;
  font-weight: bold;
  position: absolute;
  top: 10px;
  left: 10px;
}

.recruitment_box2_btn {
  font-size: 18px;
  background: white;
  font-weight: bold;
  width: 100px;
  padding: 10px;
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.access {
  width: 68%;
  margin: 80px auto;
}

.access_title {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}

.access_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 50px;
}

.access_box_address_bloc + .access_box_address_bloc {
  margin-top: 20px;
}

.access_box_address_bloc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 120px;
}

.access_box_address_bloc_overview {
  width: 80px;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}

.access_box_address_bloc_details {
  font-size: 18px;
  margin-left: 20px;
}

.footer {
  background: black;
}

.footer_copy {
  padding: 20px 0;
  margin: auto;
  font-size: 18px;
  color: white;
  text-align: center;
}

.header_company {
  background: white;
}

.header_company_title {
  color: black;
}

.header_company_link {
  color: black;
}

.fv_company {
  height: 15vh;
  padding: 150px 0;
}

.fv_company_title {
  padding: 40px 0;
  text-align: center;
  width: 450px;
  margin: auto;
  background: rgba(255, 255, 255, 0.8);
  font-size: 30px;
  font-weight: bold;
  border: black 1px solid;
}

.access_company {
  background: #c8c8c8;
}

.details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  margin: 80px auto;
}

.details_box_name + .details_box_name {
  margin-top: 10px;
}

.details_box_name {
  background: #e6e6e6;
  font-size: 24px;
  font-weight: bold;
  width: 300px;
  height: 40px;
  padding: 20px 0 20px 20px;
}

.details_bloc_name + .details_bloc_name {
  margin-top: 10px;
}

.details_bloc_name {
  font-size: 24px;
  width: 300px;
  height: 40px;
  padding: 20px 0 20px 20px;
}

.common {
  width: 50%;
  margin: auto;
}

.common_text {
  text-align: center;
}

.common_logo {
  width: 150px;
}

.common_nav {
  margin: 50px 0;
}

.common_nav_ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.footer_company {
  background: white;
}

.footer_company_copy {
  color: black;
}

.recruit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 70%;
  height: 380px;
  margin: 80px auto;
}

.recruit_box_title {
  font-size: 30px;
  font-weight: bold;
  border-bottom: 2px solid black;
  width: 69%;
  line-height: 26px;
}

.recruit_box_text {
  margin-top: 30px;
  font-size: 24px;
}

.recruit_img {
  margin-left: 50px;
  width: 180%;
}

.crew {
  background: #e6e6e6;
  padding: 80px 300px;
  margin-bottom: 80px;
}

.crew_flex + .crew_flex {
  margin-top: 50px;
}

.crew_flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.crew_flex:nth-child(even) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.crew_img {
  width: 900px;
  height: 280px;
}

.crew_box {
  background: white;
  padding: 40px;
  height: 200px;
}

.crew_box_bloc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.crew_box_bloc_position {
  font-size: 24px;
}

.crew_box_bloc_name {
  font-size: 24px;
  margin-left: 30px;
}

.crew_box_text {
  font-size: 24px;
  margin-top: 30px;
}

.box_right {
  margin-right: 50px;
}

.box_left {
  margin-left: 50px;
}

.ceo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 60%;
  margin: 80px auto;
}

.ceo_img {
  width: 1200px;
  height: 400px;
}

.ceo_box {
  margin-left: 150px;
  padding: 70px 0;
}

.ceo_box_bloc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
}

.ceo_box_bloc_name {
  font-size: 24px;
  font-weight: bold;
}

.ceo_box_bloc_furigana {
  font-weight: bold;
  line-height: 35px;
  margin-left: 30px;
}

.ceo_text {
  margin-top: 30px;
  font-size: 18px;
}

.interviewpage {
  background: url(../img/interview.jpg) center/cover;
  height: 500px;
  margin-bottom: 80px;
  padding: 80px 0;
}

.interviewpage_box {
  background: rgba(255, 255, 255, 0.8);
  width: 60%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid black;
  padding: 80px 50px;
}

.interviewpage_box_bloc {
  margin-right: 50px;
}

.interviewpage_box_bloc_title {
  font-size: 24px;
  font-weight: bold;
}

.interviewpage_box_bloc_text {
  margin-top: 30px;
}

.interviewpage_box_img {
  width: 450px;
  height: 350px;
}

.margin {
  margin-top: 30px;
}

.form {
  width: 60%;
  margin: 80px auto;
}

.form_box + .form_box {
  margin-top: 15px;
}

.form_box_name {
  display: inline-block;
  background: #e6e6e6;
  font-weight: bold;
  padding: 15px 30px 15px 25px;
  width: 35%;
}

.form_box_name_contact {
  vertical-align: top;
  line-height: 30px;
  display: inline-block;
  background: #e6e6e6;
  font-weight: bold;
  width: 35%;
  padding: 15px 30px 260px 25px;
}

.form_box_text {
  margin-left: 20px;
  width: 55%;
  height: 30px;
}

.form_box_contact {
  margin-left: 20px;
  width: 40%;
  height: 30px;
}

.form_box_contact_text {
  margin-left: 20px;
  width: 55%;
  height: 300px;
}

.form_btn {
  color: white;
  background: #5050ff;
  width: 180px;
  padding: 3px;
  margin: 30px 45%;
  font-size: 18px;
}

@media screen and (max-width: 1024px) {
  .burger {
    display: block;
    position: fixed;
    width: 50px;
    height: 50px;
    top: 10px;
    right: 15px;
    -webkit-transition: all .3s;
    transition: all .3s;
  }
  .burger span {
    display: block;
    -webkit-transition: all .3s;
    transition: all .3s;
    position: absolute;
    left: 14px;
    width: 60%;
    height: 4px;
    border-radius: 5%;
    background: white;
  }
  .burger span:nth-of-type(1) {
    top: 10px;
  }
  .burger span:nth-of-type(2) {
    top: 20px;
  }
  .burger span:nth-of-type(3) {
    top: 30px;
  }
  .burger span:nth-of-type(3):after {
    content: "menu";
    position: absolute;
    top: 5px;
    left: -2px;
    color: white;
    font-size: .6rem;
    text-transform: uppercase;
  }
  .active .burger span:nth-of-type(1) {
    -webkit-transform: translateY(6px) rotate(-45deg);
            transform: translateY(6px) rotate(-45deg);
  }
  .active .burger span:nth-of-type(2) {
    opacity: 0;
  }
  .active .burger span:nth-of-type(3) {
    -webkit-transform: translateY(-6px) rotate(45deg);
            transform: translateY(-6px) rotate(45deg);
  }
  .active .burger span:nth-of-type(3):after {
    content: "close";
    -webkit-transform: translateY(0) rotate(-45deg);
            transform: translateY(0) rotate(-45deg);
    top: 5px;
    left: 4px;
  }
  .header {
    height: 70px;
  }
  .header_title {
    line-height: 70px;
  }
  .header_nav {
    display: none;
  }
  .fv_title {
    font-size: 54px;
    vertical-align: middle;
    padding: 50% 0;
  }
  .news {
    width: 70%;
    margin: 30px auto;
  }
  .news_box_ul_li + .news_box_ul_li {
    margin-top: 5px;
  }
  .news_box_ul_li_time {
    font-size: 12px;
  }
  .news_box_ul_li_text {
    font-size: 12px;
  }
  .interview {
    height: 37vh;
  }
  .interview_box {
    width: 50%;
  }
  .interview_box_text {
    margin-top: 20px;
  }
  .interview_box_btn {
    margin-top: 20px;
  }
  .company {
    width: 80%;
    margin: 30px auto;
  }
  .company_box_business {
    margin-top: 30px;
    width: 180px;
    height: 250px;
  }
  .company_box_business_img {
    width: 80px;
  }
  .company_box_business_title {
    font-size: 18px;
    margin-top: 10px;
  }
  .company_box_business_text {
    font-size: 12px;
    margin-top: 10px;
  }
  .access {
    width: 80%;
    margin: 30px auto;
  }
  .access_box_address_bloc + .access_box_address_bloc {
    margin-top: 5px;
  }
  .access_box_address_bloc {
    margin-left: 50px;
  }
  .access_box_address_bloc_overview {
    font-size: 12px;
  }
  .access_box_address_bloc_details {
    font-size: 12px;
    margin-left: 10px;
  }
  .details {
    width: 60%;
    margin: 50px auto;
  }
  .common {
    width: 60%;
  }
  .recruit {
    width: 80%;
    margin: 50px auto;
  }
  .recruit_box_title {
    width: 91%;
  }
  .recruit_box_text {
    margin-top: 20px;
    line-height: 25px;
  }
  .recruit_img {
    margin-left: 20px;
  }
  .crew {
    padding: 50px 100px;
  }
  .crew_flex + .crew_flex {
    margin-top: 20px;
  }
  .crew_img {
    width: 1200px;
    height: 240px;
  }
  .crew_box {
    padding: 20px;
  }
  .crew_box_bloc_name {
    margin-left: 20px;
  }
  .crew_box_text {
    margin-top: 10px;
    line-height: 25px;
  }
  .box_right {
    margin-right: 20px;
  }
  .box_left {
    margin-left: 20px;
  }
  .ceo {
    width: 80%;
    margin: 30px auto;
  }
  .ceo_img {
    width: 1300px;
    height: 260px;
  }
  .ceo_box {
    margin-left: 50px;
    padding: 30px 0;
  }
  .ceo_box_bloc {
    margin-top: 10px;
  }
  .ceo_text {
    margin-top: 10px;
    line-height: 20px;
  }
  .interviewpage {
    height: 330px;
    padding: 50px 0;
    margin-bottom: 30px;
  }
  .interviewpage_box {
    padding: 30px;
  }
  .interviewpage_box_bloc {
    margin-right: 20px;
  }
  .interviewpage_box_bloc_text {
    margin-top: 10px;
    line-height: 20px;
  }
  .interviewpage_box_img {
    width: 600px;
    height: 260px;
  }
  .form {
    width: 80%;
    margin: 30px auto;
  }
  .form_box_name {
    width: 30%;
  }
  .form_box_name_contact {
    width: 30%;
  }
  .form_box_text {
    margin-left: 10px;
  }
  .form_box_contact {
    margin-left: 10px;
  }
  .form_box_contact_text {
    margin-left: 10px;
  }
  .form_btn {
    margin: 30px 39%;
  }
}

@media screen and (max-width: 599px) {
  .fv_title {
    font-size: 42px;
  }
  .news {
    width: 100%;
    margin: 10px auto;
  }
  .interview {
    height: 31%;
  }
  .interview_box {
    padding: 30px 50px;
  }
  .interview_box_text {
    margin-top: 10px;
    font-size: 18px;
  }
  .company {
    width: 100%;
  }
  .company_box_business {
    padding: 10px;
    width: 150px;
    height: 290px;
  }
  .access {
    width: 100%;
  }
}
/*# sourceMappingURL=style.css.map */